<a href="https://colab.research.google.com/github/ashishakonnur/Stroke-Predicition/blob/main/Stroke_Prediction_using_ML_Classification_Algorithms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Stroke prediction using ML Classification Algorithms

Build a model that can be used to predict stroke.

Import Data

In [16]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/ashishakonnur/Stroke-Predicition/main/healthcare-dataset-stroke-data.csv')

In [19]:
df.head(5)

      id  gender   age  ...   bmi   smoking_status stroke
0   9046    Male  67.0  ...  36.6  formerly smoked      1
1  51676  Female  61.0  ...   NaN     never smoked      1
2  31112    Male  80.0  ...  32.5     never smoked      1
3  60182  Female  49.0  ...  34.4           smokes      1
4   1665  Female  79.0  ...  24.0     never smoked      1

[5 rows x 12 columns]